<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>electric_rates_history 정보 조회</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function selectBoxChange(selectedPeriod) {
            if (selectedPeriod == "선택 안 함") {
                selectedPeriod = null;
                location.href = '/kepco-history/compare-current';
            }
            else {
                location.href = '/kepco-history/compare-current?selectedPeriod=' + selectedPeriod;
            }
        }

        function executeCron2() {
            location.href = '/execute-cron2';
        }

        let search = window.location.search;
        let params = new URLSearchParams(search);
        let isSuccessed = params.get('success');

        if (isSuccessed === 'true') {
            alert('cron2를 정상적으로 실행했습니다.');
        }
        else if (isSuccessed === 'false') {
            alert('cron2 실행에 실패했습니다.\n' +
                '실패 원인: ' + params.get('reason'));
        }

    </script>
</head>
<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-sm">
                <div class="p-3"><button onclick="location.href='/'">뒤로가기</button></div>
                <div class="p-3"><button onclick="executeCron2()">cron2 실행</button></div>

                <h1 th:text="${message}"></h1>

                <div>
                    <h4>electric_rates 테이블</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>UseVal</th> <th>GB1</th> <th>GB2</th> <th>SelVal</th> <th>BaseFee</th> <th>LoadVal</th> <th>SUF</th> <th>FAF</th> <th>WIF</th> <th>createdAt</th> <th>updatedAt</th> <th>appliedPeriod</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="k : ${kepco}">
                            <td th:text="${k.id}"></td>
                            <td th:text="${k.useVal}" th:style="${k.useValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.gb1}" th:style="${k.gb1Changed ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.gb2}" th:style="${k.gb2Changed ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.selVal}" th:style="${k.selValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.baseFee}" th:style="${k.baseFeeChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.loadVal}" th:style="${k.loadValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.suf}" th:style="${k.sufChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.faf}" th:style="${k.fafChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.wif}" th:style="${k.wifChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.createdAt}"></td>
                            <td th:text="${k.updatedAt}"></td>
                            <td th:text="${k.appliedPeriod}" th:style="${k.periodChanged ? 'color: red;' : 'color: black;'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <h4>electric_rates_history 테이블</h4>
                    <label for="appliedPeriods">적용일자 선택:</label>
                    <select name="appliedPeriods" id="appliedPeriods" onchange="selectBoxChange(this.value);">
                        <p>
                            <option th:value="|선택 안 함|" th:text="|선택 안 함|" th:selected="${selectedPeriod} == null"></option>
                        </p>
                        <p th:each="a : ${appliedPeriods}">
                            <option th:value="${a}" th:text="${a}" th:selected="(${selectedPeriod} != null) and (${selectedPeriod} == ${a})"></option>
                        </p>
                    </select>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>UseVal</th> <th>GB1</th> <th>GB2</th> <th>SelVal</th> <th>BaseFee</th> <th>LoadVal</th> <th>SUF</th> <th>FAF</th> <th>WIF</th> <th>createdAt</th> <th>updatedAt</th> <th>appliedPeriod</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="k : ${kepcoHistory}">
                            <td th:text="${k.id}"></td>
                            <td th:text="${k.useVal}" th:style="${k.useValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.gb1}" th:style="${k.gb1Changed ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.gb2}" th:style="${k.gb2Changed ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.selVal}" th:style="${k.selValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.baseFee}" th:style="${k.baseFeeChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.loadVal}" th:style="${k.loadValChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.suf}" th:style="${k.sufChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.faf}" th:style="${k.fafChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.wif}" th:style="${k.wifChanged ? 'color: red;' : 'color: black;'}"></td>
                            <td th:text="${k.createdAt}"></td>
                            <td th:text="${k.updatedAt}"></td>
                            <td th:text="${k.appliedPeriod}" th:style="${k.periodChanged ? 'color: red;' : 'color: black;'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>