<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>electric_rates_history 정보 조회</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function selectBoxChange(selectedPeriod) {
            if (selectedPeriod == "선택 안 함") {
                selectedPeriod = null;
                location.href = '/kepco-history/compare-current';
            }
            else {
                location.href = '/kepco-history/compare-current?selectedPeriod=' + selectedPeriod;
            }
        }

        function executeCron2() {
            location.href = '/execute-cron2';
        }

        function executeCron1() {
            location.href = '/execute-cron1';
        }

        function dropTables() {
            location.href = '/drop-tables';
        }

        function updateCurrentTable() {
            location.href = '/update-current-table';
        }

        function insertTomorrowTable() {
            location.href = '/insert-tomorrow-table';
        }

        function insertFutureTable() {
            location.href = '/insert-future-table';
        }

        function updateFutureTable() {
            location.href = '/update-future-table';
        }

        function back1() {
            location.href = '/back1';
        }

        function back2() {
            location.href = '/back2';
        }

    </script>
    <style>
        .table {
            font-size: 12px;
        }

        .scenario {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
        <div class="row">
            <div class="col">
                <div class="scenario">
                    <div class="row justify-item-start">
                        <button class="col btn btn-dark m-3" onclick="location.href='/'">뒤로가기</button>
                        <button class="col btn btn-dark m-3" onclick="executeCron1()">cron1 실행</button>
                        <button class="col btn btn-dark m-3" onclick="executeCron2()">cron2 실행</button>
                    </div>

                    <div class="row">
                        <h5>시나리오 #1</h5>
                        <p><button class="btn btn-dark" onclick="dropTables()">DB의 모든 테이블 drop</button></p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>시나리오 #2</h5>
                            <p><button class="btn btn-dark" onclick="insertTomorrowTable()">내일 적용 예정인 요금표를 electric_rates_history 테이블에 넣기</button></p>
                            <p>내일 적용 예정인 요금표가 electric_rates에 반영되는 것을 보기 위한 세팅</p>
                        </div>
                        <div class="col">
                            <h5>시나리오 #2 실행 전 단계로 돌아가기</h5>
                            <p><button class="btn btn-dark" onclick="back1()">before #2</button></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>시나리오 #3</h5>
                            <p><button class="btn btn-dark" onclick="insertFutureTable()">2024-03-01 적용 예정인 요금표를 electric_rates_history 테이블에 넣기</button></p>
                            <p>cron2를 돌렸을 때 2024-03-01 적용 예정인 요금표가 electric_rates에 반영되지 않는 것을 보기 위한 세팅</p>
                        </div>
                        <div class="col">
                            <h5>시나리오 #3 실행 전 단계로 돌아가기</h5>
                            <p><button class="btn btn-dark" onclick="back2()">before #3</button></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>시나리오 #4</h5>
                            <p><button class="btn btn-dark" onclick="updateCurrentTable()">현재 적용중인 2024-01-01 요금표 정보가 일부 변경됨</button></p>
                            <p>2024-01-31에 변경된 상황으로 만든다.</p>
                        </div>
                        <div class="col">
                            <h5>시나리오 #4 실행 전 단계로 돌아가기</h5>
                            <p><button class="btn btn-dark" onclick="back1()">before #4</button></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>시나리오 #5</h5>
                            <p><button class="btn btn-dark" onclick="updateFutureTable()">미래 적용 예정인 2024-01-01 요금표 정보가 일부 변경됨</button></p>
                            <p>2023-12-04에 변경된 상황으로 만든다.</p>
                        </div>
                        <div class="col">
                            <h5>시나리오 #5 실행 전 단계로 돌아가기</h5>
                            <p><button class="btn btn-dark" onclick="back1()">before #5</button></p>
                        </div>
                    </div>

                </div>


                <h1 th:text="${message}"></h1>
                <h3 th:text="${existRates}"></h3>
                <h3 th:text="${existHistory}"></h3>

                <div class="row">
                    <div class="col">
                        <h4>electric_rates 테이블</h4>
                    </div>
                    <div class="col">
                        <h4>electric_rates_history 테이블</h4>
                        <label for="appliedPeriods">적용일자 선택:</label>
                        <select name="appliedPeriods" id="appliedPeriods" onchange="selectBoxChange(this.value);">
                            <p>
                                <option th:value="|선택 안 함|" th:text="|선택 안 함|" th:selected="${selectedPeriod} == null"></option>
                            </p>
                            <p th:each="a : ${appliedPeriods}">
                                <option th:value="${a}" th:text="${a}" th:selected="(${selectedPeriod} != null) and (${selectedPeriod} == ${a})"></option>
                            </p>
                        </select>
                    </div>
                </div>

                <div class="row overflow-scroll table-responsive mw-100" style="height: 700px">
                    <div class="col">
                        <div>
                            <table class="table table-striped w-40">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>UseVal</th> <th>GB1</th> <th>GB2</th> <th>SelVal</th> <th>BaseFee</th> <th>LoadVal</th> <th>SUF</th> <th>FAF</th> <th>WIF</th> <th>createdAt</th> <th>updatedAt</th> <th>appliedPeriod</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="k : ${kepco}">
                                    <td th:text="${k.id}"></td>
                                    <td th:text="${k.useVal}" th:style="${k.useValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.gb1}" th:style="${k.gb1Changed ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.gb2}" th:style="${k.gb2Changed ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.selVal}" th:style="${k.selValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.baseFee}" th:style="${k.baseFeeChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.loadVal}" th:style="${k.loadValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.suf}" th:style="${k.sufChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.faf}" th:style="${k.fafChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.wif}" th:style="${k.wifChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.createdAt}"></td>
                                    <td th:text="${k.updatedAt}"></td>
                                    <td th:text="${k.appliedPeriod}" th:style="${k.periodChanged ? 'color: red;' : 'color: black;'}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <table class="table table-striped w-40">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>UseVal</th> <th>GB1</th> <th>GB2</th> <th>SelVal</th> <th>BaseFee</th> <th>LoadVal</th> <th>SUF</th> <th>FAF</th> <th>WIF</th> <th>createdAt</th> <th>updatedAt</th> <th>appliedPeriod</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="k : ${kepcoHistory}">
                                    <td th:text="${k.id}"></td>
                                    <td th:text="${k.useVal}" th:style="${k.useValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.gb1}" th:style="${k.gb1Changed ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.gb2}" th:style="${k.gb2Changed ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.selVal}" th:style="${k.selValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.baseFee}" th:style="${k.baseFeeChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.loadVal}" th:style="${k.loadValChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.suf}" th:style="${k.sufChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.faf}" th:style="${k.fafChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.wif}" th:style="${k.wifChanged ? 'color: red;' : 'color: black;'}"></td>
                                    <td th:text="${k.createdAt}"></td>
                                    <td th:text="${k.updatedAt}"></td>
                                    <td th:text="${k.appliedPeriod}" th:style="${k.periodChanged ? 'color: red;' : 'color: black;'}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>