<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>electric_rates_timeLoad & history발 정보 조회</title>
</head>
<body>
  <div><button onclick="history.back()">뒤로가기</button></div>
  <h1 th:text="${message}"></h1>
  <div>
      <table class="table table-striped">
          <thead>
          <tr>
              <th>#</th>
              <th>Season</th> <th>Hour</th> <th>LoadVal</th> <th>createdAt</th> <th>appliedPeriod</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="t : ${timeLoad}">
              <td th:text="${t.id}"></td>
              <td th:text="${t.season}"></td>
              <td th:text="${t.hour}"></td>
              <td th:text="${t.loadVal}"></td>
              <td th:text="${t.createdAt}"></td>
              <td th:text="${t.appliedPeriod}"></td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>